{% extends 'adminbase.html.twig' %}

{% block title %}User List{% endblock %}

{% block body %}

    <SCRIPT language="JavaScript" type="text/javascript">
        function openWin(windowURL,windowName,windowFeatures) {
            window.open(windowURL,windowName,windowFeatures);
        }
    </SCRIPT>

    <!-- ============================================================== -->
    <!-- wrapper  -->
    <!-- ============================================================== -->
    <div class="dashboard-wrapper">
        <div class="container-fluid dashboard-content">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <h3 class="text-center">
                        <h1>User List</h1>
                        <a href="{{ path('admin_user_new') }}" class="btn btn-rounded btn-dark">Create New User</a>
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>Email</th>
                                <th>Roles</th>

                                <th>Name</th>
                                <th>Surname</th>
                                <th>Image</th>
                                <th>Status</th>

                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for user in users %}
                                <tr>
                                    <td>{{ user.id }}</td>
                                    <td>{{ user.email }}</td>
                                    <td>{{ user.roles ? user.roles|json_encode : '' }}</td>

                                    <td>{{ user.name }}</td>
                                    <td>{{ user.surname }}</td>
                                    <td><img src="{{ asset('uploads/images/'~user.image) }}" height="40"></td>
                                    <td>{{ user.status }}</td>

                                    <td>
                                        <a href="{{ path('admin_user_show', {'id': user.id}) }}" class="btn btn-rounded btn-dark">show</a>
                                    </td>
                                    <td>
                                        <a href="{{ path('admin_user_edit', {'id': user.id}) }}" class="btn btn-rounded btn-dark">edit</a>
                                    </td>

                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="11">no records found</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>


                    </h3>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
{% endblock %}