{% extends 'adminbase.html.twig' %}



{% block body %}

<SCRIPT language="JavaScript" type="text/javascript">
    function openWin(windowURL,windowName,windowFeatures) {
        window.open(windowURL,windowName,windowFeatures);
    }
</SCRIPT>
<!-- ============================================================== -->
<!-- wrapper  -->
<!-- ============================================================== -->
<div class="dashboard-wrapper">
    <div class="container-fluid dashboard-content">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <h3 class="text-center">

                    <h1>Messages index</h1>
                    <a href="{{ path('admin_messages_new') }}" class="btn btn-rounded btn-dark">Create new</a>
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Subject</th>
                            <th>Message</th>
                            <th>Status</th>
                            <th>Ip</th>
                            <th>Note</th>
                            <th>Created_at</th>
                            <th>Updated_at</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for message in messages %}
                            <tr>
                                <td>{{ message.id }}</td>
                                <td>{{ message.name }}</td>
                                <td>{{ message.subject }}</td>
                                <td>{{ message.message }}</td>
                                <td>{{ message.status }}</td>
                                <td>{{ message.ip }}</td>
                                <td>{{ message.note }}</td>
                                <td>{{ message.createdAt ? message.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                                <td>{{ message.updatedAt ? message.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                                <td>
                                    <a href="{{ path('admin_messages_show', {'id': message.id}) }}" class="btn btn-rounded btn-dark">Show</a>
                                    <a href="{{ path('admin_messages_edit', {'id': message.id}) }}" class="btn btn-rounded btn-dark">Edit</a>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="10">no records found</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>


                </h3>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->



    {% endblock %}

